{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "ignorePatterns": ["**/*.svg", "**/*.css", "**/*.mdx"],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "testcafe/**/*", "jest.config.js"],
      "rules": {
        "no-undef": "off"
      }
    }
  ]
}
